<style>

 body {
        margin: 0;
        padding: 0;
        height: 100vh;

        background-image: url("../images/plant-background.png");
        background-size: cover;
    }

.signup {
 

  color: #3a3b4a;
  

}

.signup > div {
  display: flex;
	justify-content: center;

}

.signup > div > div {
  color: #3a3b4a;
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  background-color: rgba(215, 215, 215, 0.8);
  width: 40%;
  margin-top: 5rem;
  padding-bottom: 4rem;

}

.signup h1 {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}



.signup a {
    font-size: 1.2rem;

}

.signup > a {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  
}

</style>


<div class ="signup">
<a href="/">Home</a>

<div>
<div>

  <h1>SIGN UP</h1>

<form id="form" action="/auth/signup" method="POST">

  <label for="username"><b>Username</b></label><br />
  <input type="text" name="username" />

  <label for="password"><b>Password</b></label><br />
  <input type="password" name="password" />

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}

  <button type="submit">Sign up</button>
</form>

</div>
</div>

</div>
