

<h1>{{title}}</h1>
<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>

<p>About Page</p>



{{#unless user}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{else}}


<a href="/profile">Go to your plants</a>

{{!-- <a href="/plants/add">Add a plant</a>
<a href="/plants">See plants</a> --}}
<a href="/auth/logout">Logout</a>

{{/unless}}




