<h1 class="website-name">{{title}}</h1>
<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>

{{#unless user}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{else}}
<a href="/plants/add">Add a plant</a>
<a href="/plants">See plants</a>
<a href="/private">Private</a>
<a href="/auth/logout">Logout</a>
{{/unless}}