<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("./images/plant-background.png");
        background-size: cover;
    }

    .title {
        color: #fffdf4;
        position: absolute;
        left: 12vw;
        top: 50vh;
        display: flex;
        flex-direction: column;
        
        
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 3rem;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .title h1 {
        font-size: 6em;
        font-family: "Merriweather";

    }


    .logout > a {
        padding:  0rem 3rem;
    }

    .title h3 {
        font-size: 2.5rem;
        padding: 0px;
        padding-bottom: 1rem;
        margin: 0px;

    }

    .title h4 {
        font-size: 1.5rem;
        padding: 0px;
        margin: 0px;

    }

</style>

<header class="header">

    <p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>
    <div class="logout">
        {{#unless user}}
        <a href="/auth/signup">Signup</a>
        <a href="/auth/login">Login</a>
        {{else}}
        <a href="/profile">Go to your plants</a>
        <a href="/auth/logout">Logout</a>
        {{/unless}}
    </div>
</header>

<div class="title">
    <div>
    <h1>/{{title}}</h1>
    </div>
    <div>
    <h3>Love your plants more</h3>
    <h4>Find essential plant care tips</h4>
    <h4>Always know when to water</h4>
   
    </div>

</div>




{{!-- <a href="/about">About</a>
 --}}