 <h1>Plant</h1>

<form action="/plants" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="notes">Notes: </label>
    <input type="text" name="notes" id="notes">

    <button type="submit">Add a plant</button>
</form>